.home {
  text-align: center;
  padding: 50px;
  background: var(--white-color);
}

.hero h1 {
  font-size: 3rem;
  color: var(--dark-color);
}

.hero p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.cta {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
