.product-list {
  padding: 40px;
  text-align: center;
}

.products {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.product-card {
  width: 220px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3,
.product-card p {
  margin: 10px 0;
}

.product-card button {
  margin-top: 5px;
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--white-color);
  font-weight: bold;
}

.product-card .try-on-btn {
  background-color: var(--primary-color); /* A different color for distinction */
}
