/* client/src/components/Message.css */
.message {
  padding: 15px;
  margin: 20px auto;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  max-width: 800px;
}

.message.danger {
  color: var(--danger-color);
  background-color: var(--danger-bg-color);
  border-color: var(--danger-border-color);
}

.message.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}